<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnection"
			 connectionString="Server=tcp:dev--mar-survey-app.database.windows.net,1433;Initial Catalog=CustomersDB;Persist Security Info=False;User ID=admin_survey;Password=Uav010203;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>